<div class="jumbotron text-center">
  <h1>{{ name }}, {{ country }}</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <search-bar></search-bar>
    </div>
  </div>

  <div id="location" class="d-none">{{ currentCityName }}</div>

  <div class="row mt-5 w-75 mx-auto">
    <div class="col">
      <h3 class="ml-5">Temperature</h3>
        <p class="m-4 temperature"> {{ temp }} &#x2103;</p>
        <hr class="w-75 ml-n3 mt-2">
        <div>
          <div class="dot position-absolute mt-n4 ml-3"></div>
          <div>{{ minTemp }} &#x2103;</div>
        </div>
        <div class="position-absolute mt-n5 maxTemp">
          <div class="dot "></div>
          <div>{{ maxTemp }} &#x2103;</div>
        </div>
      <div class="row mt-4">
        <span class="font-italic">Humidity:</span> <span class="ml-2"> {{ humidity }} % </span>
      </div>
      <div class="row mt-3">
        <span class="font-italic">Wind speed:</span> <span class="ml-2"> {{ windSpeed }} km/h </span>
      </div>
    </div>
    <div class="col ml-5">
      <h4>{{ weatherMain }}, {{ weatherDesc }}</h4>
      <img width="200px" height="200px" id="weatherImage" />
    </div>
  </div>
</div>
